.bg__pattern-overlay { 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.8;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC);
    z-index: -1;
}