@charset "UTF-8";
@media screen and (max-width: 414px) { 
	
.contents{
	max-width: 100%;
}
.contents_title {
   	padding: 0 0 15px 0;
}
/*header*/
.header_inner{
	display:none;
}
.header {
    height: 68px !important;
}
.phonenavbox{
	display: block !important;
    background-color: rgba( 255, 255, 255, 0.95 );
    position: fixed;
    top: 0px;
    left: 0;
    width: 96%;
    height: 48px;
    padding: 10px;
}

.navboxFixed{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba( 255, 255, 255, 0.95 );
    z-index: 1;
}
#myNav{
	display:block !important;
}
.phone_menuIcon{
	font-size:25px;
	cursor:pointer;
	float:left;
	width:22px;
	height: 30px;
	margin-top: 5px;
}
.phonelogo{
	cursor:pointer;
	float: left;
    width: 50px;
    margin-left: 37%;
}
.phoneuser{
	font-size:25px;
	cursor:pointer;
	float: left;
    width: 20px;
    margin-top: 12px;
}
.phoneusericon{
	color:#5a5a5a;
}
.overlay {
  height: 100%;
  width: 0;
   position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 0%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay .closebtn {
  position: absolute;
  top: -12px;
  right: 0px;
  font-size: 34px;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
/*footer*/
.footer{
	max-width: 100%;
}
}

