@charset "UTF-8";
@media screen and (max-width: 414px) { 
   
 .detail_wrap {
 	width: 400px;
 
 }  
 
 .detail_img {
 
   text_align : center;
   width : 300px;
   height : 300px;
  }
	
.detail_img div img{
	
	width : 100%;
}	

.detail_info{
	
	width: 400px;
	margin :0 auto;
	height :70%;
	border : none;
	
}
.detail_info form ul{
	margin-top: 0px;
}
	

}