@charset "UTF-8";
.banner_inner{
    height: 450px;
    background-image:url(/resources/img/ba%20img.png);
    background-position: center -1px;
    background-repeat: no-repeat; 
    background-size: cover;
}  
/* cafe_tab */
.cafe_tab_box{
    width: 100%;
    margin-bottom: 10px;
}
.cafe_tab{
    width: 32.5%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #3e5f40;
    margin-right: 0.5%;
}
.cafe_tab:last-child{
    margin-right: 0%;
}
.cafe_tab_select{
    color: #fff;
    font-weight:bold;
    background-color:#3e5f40;
    border: 1px solid #3e5f40;
}
/* category */
.cafe_category{
    padding: 30px 30px 0 30px;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 5px;
    margin-bottom: 40px;
}
.product_kind_btn{
    position: absolute;
    right: 28px;
    top: 22px;
    cursor: pointer;
}
.cafe_category_tit{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 30px;
}
.cafe_category_checkbox{
    border-top: 1px solid #ddd;
    margin: 5px 0px 30px 0px;
    padding-top: 30px;
}
.cafe_tabli{
    width: 155px;
    height: 25px;
    display: inline-block;
}
.checkbox_label{
    font-size: 14px;
}
.cafe_category_result{
    margin: 20px 0px;
}
.cafe_category_txtbox{
    width: 100%;
    height: 60px;
    background-color: #f4f4f2;
    margin: 20px 0px;
}
.cafe_category_txt{
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #222;
    padding-left: 20px;
}
.cafe_category_txtspan{
    font-size: 12px;
    font-weight: lighter;
    padding-left: 22px;
}
/*input[class="cafe_checkbox"] {
	display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #bcbcbc;
    cursor: pointer;
}
input[class="cafe_checkbox"] {
    display: none;
}*/
/* product */
.cafe_product{
    margin: 20px 0px;
}
.cafe_product_box{
    width: 295px;
    display: inline-block;
}
.cafe_product_box:last-child{
    margin-right:0px;
}
.cafe_product_inner{
    width: 265px;
    height:276px;
    overflow:hidden;
}
.cafe_product_img{
    width: 100%;
    cursor: pointer;
}

.cafe_product_img:hover {
    transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
    transition: transform .85s;
    -o-transition: transform .85s;
    -moz-transition: transform .85s;
    -webkit-transition: transform .85s;
}
.cafe_product_title{
    text-align: center;
}
.cafe_product_title{
    font-size: 14px;
    color: #444;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/* detail */
.cafe_detail{
    height: 500px;
}
.cafe_detail_img{
    float: left;
    width: 37%;
    height: 500px;
}
.cafe_detail_infobox{
    float: right;
    width: 59%;
}
.cafe_detail_imgbox{
    width: 440px;
    height: 470px;
}
.cafe_detail_imgbox img{
    width: 100%;
}
.cafe_detail_titbox{
    border-bottom: 2px solid #333;
    padding-bottom: 18px;
    margin-bottom: 20px;
}
.cafe_h3{
    font-size: 24px;
    font-weight: bold;
    color: #222;
    
}
.cafe_eng{
    font-size: 14px;
    font-family: "Arial";
    font-weight: normal;
    color: #666;
    padding: 2px 0 0 5px;
}
.cafe_detail_pro{
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.6;
    min-height: 40px;
}
.cafe_detail_infop{
    height: 59px;
    font-weight: 600;
    line-height: 59px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.cafe_detail_infospan{
    width: 150px;
    float: right;
    font-size: 13px;
    font-weight:400;
}
.product_info_content{
    margin: 20px 0;
}
.product_info_contentul{
    float: left;
    width: 48%;
}
.product_info_contentul:last-child{
    width: 45%;
    border-left: 1px dotted #ddd;
    padding-left: 20px;
    margin-left: 20px;
}
.product_info_content > ul >li{
    margin-bottom: 15px;
}
.product_info_content dl dt{
    float: left;
    width: 85%;
    font-size: 14px;
}
.product_info_content dl dd{
    text-align: right;
    font-size: 13px;
}
.allergy{
    clear: both;
    background: #f4f4f2;
    padding: 13px 11px;
    font-size: 14px;
    color: #444;
    border-radius: 3px;
    position: relative;
    margin-bottom: 23px;
    line-height: 1.6;

}
/* cafe_nutrition */
.nutrtion_subtitle{
    font-size: 16px;
    margin-bottom: 10px;
}
.info_p{
    font-size: 11px;
    padding: 20px 0px;
}
.info_lileft{
    float: left; 
    width: 50%;
    padding-bottom: 15px;
}
.infor_clear{
    clear: both;
}
.active_box{
    clear: both;
    border-top: 1px solid #e8e8e8;
}
.info_label{
   width: 75px;
    display: inline-block;
}
.nutrition_inputS{
    width: 218px;
    height: 18px;
    border: 1px solid #e8e8e8;
    padding: 5px;
    font-size: 11px;
    cursor: pointer;
}
.active_p{
    font-weight: bold;
    padding: 20px 0 10px 0;
}
.active_span{
    font-size:11px;
    color: #9a9a9a;
}
.active_li{
    padding: 5px 0px;
}
.active_btn_box{
    text-align: center;
    margin: 20px 0px;
}
.admin_btn{
    background-color: #e8e8e8; 
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.admin_btnS{
    background-color: #e8e8e8; 
    border: none;
    color: #000;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.subminbtn{
    color: white;
    background-color: #3e5f40; 
}
/*box - 2*/
.menu_search_box{
    margin-bottom: 10px;
}
.nutrition_inputL{
    width: 83%;
    height: 20px;
    border: 1px solid #e8e8e8;
    padding: 5px;
    font-size: 11px;
    cursor: pointer;
}
.inputright{
    float: right;
}
.menu_title_p{
    width: 150px;
    float: left;
    text-align: center;
}
.menu_title_pbig{
    width: 678px;
}
.menu_title{
    clear: both;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    background-color: #F6F6F6;
    border-bottom: 1px solid #D7D7D7;
    border-top: 1px solid #3e5f40;
}
.menu_list_box{
    margin-bottom: 20px;
    border-bottom: 1px solid #D7D7D7;
}

.menu_list_li{
    height: 35px;
    line-height: 35px;
}

.menu_list_lip{
    float: left;
    width: 150px;
    text-align: center;
}
.menu_list_lipbig{
    width: 638px;
    text-align: left;
    padding-left: 40px;
}

.kacl_box{
    float: left;
    width: 50%;
    margin: 0px 0 2px 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.goal_kacl{
   float: left;
    width: 30%;
   height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #e8e8e8;
}
.goal_kacl_num{
    float: left;
    height: 50px;
    padding-left: 25px;
    line-height: 50px;
    color: #0060b3;
    font-size: 25px;
}
.nutrtion_info{
    float: left;
    width: 10%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.nutrtion_box{
    clear: both;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.nutrtion_info:nth-child(odd) {
    width: 15%;
  background-color: #e8e8e8;
}
.menu_title_pd{
    float: left;
    width: 110px;
    text-align: center;
}
.menu_title_pdsmall{
    width: 42px;
}
.menu_title_pdbig{
    width: 468px;
}

.menu_list_lipd{
    float: left;
    width: 110px;
    text-align: center;
}
.menu_list_lipdsmall{
    width: 42px;
}
.menu_list_lipdbig{
    width: 428px;
    text-align: left;
    padding-left: 40px;
}
.box-radio-input input[type="radio"]{
    display:none;
}

.box-radio-input input[type="radio"] + span{
    display:inline-block;
    background:none;
    border:1px solid #dfdfdf;    
    padding:0px 10px;
    text-align:center;
    height:35px;
    line-height:33px;
    font-weight:500;
    cursor:pointer;
}
.box-radio-input input[type="radio"]:checked + span{
    border:1px solid #3e5f40;
    background:#3e5f40;
    color:#fff;
}
.menusearch{
	width: 6%;
    height: 32px;
    float: left;
    font-size: 11px;
    padding: 0 5px;
    margin-right: 10px;
    border: 1px solid #e8e8e8;
}
.pageing_box{
	text-align: center;
	margin: 0 0 25px 0;
}
.goal_kacl_numinput{
	border: none;
    font-size: 28px;
    line-height: 50px;
    color: #b30000;
}
.nutrtion_infoinput{
	border: none;
    width: 60px;
    line-height: 40px;
}
.menuaddCheckbox{
	height: 34px;
    cursor: pointer;
}
/*모달css*/
#modal_opne_btn{
    background-color: #3e5f40;
    border: none;
    color:#fff;
    padding: 10px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

#modal {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#modal button {
    display: inline-block;
    width: 100px;
    margin-left: calc(100% - 100px - 10px);
    cursor: pointer;
}

#modal .modal_content {
   position: absolute;
   top: -720px;
   left: 101px;
   width: 914px;
   margin: 100px auto;
   padding: 20px 10px;
   background: #fff;
   border-radius: 5px;
}

#modal .modal_layer {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: -1;
   }
#modal_close_btn{
    background-color: #3e5f40;
    border: none;
    color:#fff;
    padding: 10px 10px;
    border-radius: 5px;
}