@charset "UTF-8";
.membermanager{width: 100%; height: auto;}

.membermanagersearch{width: 100%; height: 32px; line-height: 32px; margin-bottom: 1%;}

.membersearch{width: 100px; height: 27px; border-radius: 4px; float: right; line-height: 27px;}

.membersearchtext{width: 150px; height: 25px;float: right; }

.membermanagersearchbtn{padding: 0px 10px; border: 1px solid silver; float: right; border-radius: 5px;}

.membermanagername{width: 100%; height: 45px;border-top: 1px solid silver;  border-bottom: 1px solid silver;font-weight: 600;}

.managergrant{width: 11%; height: 45px; float: left; text-align: center;line-height: 45px;}

.managernick{width: 20%; height: 45px; float: left; text-align: center;line-height: 45px;}

.manageremail{width: 25%; height: 45px; float: left; text-align: center;line-height: 45px;}

.managerphone{width: 19.6%; height: 45px; float: left; text-align: center;line-height: 45px;}

.managerhire{width: 15%; height: 45px; float: left; text-align: center;line-height: 45px;}

.membermanagerbtn{width: 9.4%; height: 45px; float: left; text-align: center;line-height: 45px;}

.membermanagername2{width: 100%; height: 45px;  border-bottom: 1px solid silver;}

.managergrant2{width: 11%; height: 45px; float: left; text-align: center;line-height: 45px;}

.managernick2{width: 20%; height: 45px; float: left; text-align: center;line-height: 45px;}

.manageremail2{width: 25%; height: 45px; float: left; text-align: center;line-height: 45px;}

.managerphone2{width: 19.6%; height: 45px; float: left; text-align: center;line-height: 45px;}

.managerhire2{width:15%; height: 45px; float: left; text-align: center;line-height: 45px;}

.membermanagerbtn2{width: 9.4%; height: 45px; float: left; text-align: center;line-height: 45px;}