@charset "UTF-8";
/* 장바구니 & 결제페이지*/
.paycart{width: 100%; height: auto; margin-top: 5%; border-bottom: 1px solid silver; border-top: 1px solid silver;}

.paycartname{width: 100%; height:40px; border-bottom: 1px solid silver; line-height: 40px;}

.paycartlist{width: 100%; height: 126px; border-bottom: 1px solid silver;  line-height:126px;}

.paysal{width: 100%;height: 32px; }

.salprice{float: right; width: auto; height: 32px;   text-align: center; line-height: 32px;}

.salprice span{font-size: 14px;  color: gray;}

.paycartch{width: 8%; height:100%;   float: left;  text-align: center; }

.paycartimg{width: 13%; height:100%;   float: left; text-align: center;  }

.paygoods{width: 31%; height:100%;   float: left; text-align: center; }

.paypri{width: 15%; height:100%;   float: left; text-align: center; }

.payamount{width: 10%; height:100%;   float: left; text-align: center}

.paydelivery{width: 15%; height:100%;   float: left; text-align: center}

.paypritotal{width: 16%; height:100%;   float: left; text-align: center}

/* 결제페이지*/

.orderArea{width: 100%;  margin-top: 5%; }

.order{width: 100%; height: 60px; border-bottom: 1px solid silver;  border-top: 1px solid silver;}

.order2{width: 100%; height: 80px; border-bottom: 1px solid silver; display: inline-block; font-weight: 600;}

.order3{width: 100%; height: 60px; border-bottom: 1px solid silver; }

.order4{width: 100%; height: 90px; border-bottom: 1px solid silver; display: inline-block; }

.orderArea1{width: 11%; height: 36px; text-align: left;  padding: 1%; float:left; line-height: 36px; font-weight: 600;}

.orderArea1_1{width: 84%; height: 36px; text-align: left;   padding: 1%; float:left; border-left: 1px solid silver; line-height: 36px;}

.orderArea1_1 input{margin-top: 10px;}

.orderArea3{width: 11%; height: 36px; text-align: left;  padding: 1%; float: left; }

.orderArea3_1{width: 84%; height: 36px; text-align: left;   padding: 1%; float: left; border-left: 1px solid silver;}

.orderArea3_1 input{margin-top: 10px;}

.orderArea4{width: 11%; height: 66px; text-align: left;  padding: 1%; float: left; font-weight: 600;}

.orderArea4_1{width: 84%; height: 66px; text-align: left;   padding: 1%; float: left; border-left: 1px solid silver;}

.orderArea4_1 input{margin: 1px;}

.postalcode{font-size: 12px; padding: 0.1% 1.3%; border: 1px solid silver;}

.orderArea6{width: 11%; height: 57px; text-align: left; padding: 1%; float: left;}

.orderArea6_1{width: 84%; height: 57px; text-align: left; padding: 1%; float: left; border-left: 1px solid silver; }

.odertext{width: 1015px; height: 51px;}

.pay{width: 100%; height: 170px; border-bottom: 1px solid silver;  border: 1px solid silver;}

.pay1{width: 79%; height: 45.9px; margin:0px; padding-top: 20px;  border-bottom: 1px solid silver; font-weight: 600; padding-left: 1%}

.pay2{width: 79%; height: 96.9px;  float: left;}

.pay2 span{font-size: 15px; color: black; font-weight: 500;}

.pay2_1{width: 101.3%; height: 50px; border-bottom: 1px solid silver; line-height: 50px;}

.pay2_1 label{padding-left: 1%;}

.pay2_2{width: 15%; height: 50px;padding-left: 1%; border-right: 1px solid silver;float: left;}

.pay3_1{width: 101.3%; height: 50px; line-height: 50px;}

.paybtn{width: 17.4%; height: 141.1px; border-left: 1px solid silver; float: right; padding: 15px; text-align: center; font-weight: 600;}

#oprice{font-size: 30px; color: orangered; font-weight: 600;}

.paystart{padding: 7% 20%;  text-align: center; background-color: black; color: white; border-radius: 5px;}

.orderArea h2{ font-weight: 900; padding-left: 1%;}

.paycomment{width: 95%; height: 75px;  border: 1px solid silver; margin-top: 3%; padding:2.5% ;}

.comment1{font-weight: 900;}

.comment2{font-size: 14px; color: gray; }

.paycomment2{width: 95%; height: 550px;  border: 1px solid silver; margin-top: 3%; padding:2.5% ;margin-bottom: 3%;}

.pay3_1 span{margin-top: 1%; padding-left: 1%;}
