@charset "UTF-8";
@media screen and (max-width: 414px) { 
	
#map{width: 99%;}

.enter_start label{display: none;}

.enter_start{width: 98%; height: 30px;}

.n_no{display: none;}

.n_date{display: none;}

.notice{width: 96%;
    padding-left: 2%;}
}