.n_board{
    width: 100%;
    text-align: center;
    font-size:12px;
}
.brd_head{
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    font-weight: bold;
    height: 30px;
    padding-top: 10px;
    font-size: 14px;
}
.brd_body{
    
}
.brd_list{
    border-bottom: 1px solid #e8e8e8;
    height: 30px;
    padding: 10px;

}
.no{
    display: inline-block;
    width: 10%;
    margin: 0 auto;
}
.title{
	display: inline-block;
    width: 58%;
    margin: 0 auto;
}
.date{
	display: inline-block;
    width: 10%;
    margin: 0 auto;
}
.list_btn{
	display: inline-block;
    width: 20%;
    margin: 0 auto;
}

.mdf_list{
    display: inline-block;
    width: 50px;
    border: 1px solid #3e5f40;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}
.del_list{
    display: inline-block;
    width: 50px;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #e8e8e8;
    padding: 5px;
}
.ins_brd{
    text-align:center;
    width: 100px;
    height: 30px;
    background-color:#3e5f40;
    color: white;
    padding-top: 10px;
    border-radius: 6px;
    font-weight: bold;
    margin: 30px auto;
    
    
}

.n_ins_btn{
	color:white;
}