@charset "utf-8";

#tourlistblock {
	
}
.tourlistbox {
	border-bottom: 1px solid silver;
	padding : 20px 20px;
	
}
#tourlisttitle p {
	font-weight: bold;
}
.tourlistbox p {
	display: inline-block;
	text-align: center;
	overflow: hidden;
	font-size: 13px;
}
.tourlistno{
	width: 40px;
}
.tourlisthostid{
	width: 71px;
}
.tourlisttitle{
	width:150px;
}
.tourliststart{
	width:150px;
}
.tourlistend{
	width:150px;
}
.tourlisttourday{
	width:150px;
}

.tourlistcount{
	width:70px;
}
.tourliststate{
	width : 100px;
}
.tourlistbtn>button {
	padding: 4px 4px;
    margin: 0px;
    font-size: 12px;
    background-color: #ffffff;
    border: 1px solid #3e5f40;
    border-radius: 5px;
}
.tourstatesel {
	width: 80%;
    height: 24px;
    font-size: 11px;
    padding: 0 5px;
    border: 1px solid #e8e8e8;
}

#touradmin_paging_block{
	height: 100px;
	width : 100%;
}