@charset "utf-8";
.tourhostpage_list_btn{
	padding :5px;
	border-radius: 5px;
	cursor: pointer;
}
.tourhostpage_state_btn{
	padding :5px;
	border-radius: 5px;
	cursor: pointer;
	color:black;
}
.tourstatesel{
	border:1px solid #e2e8f0;
	color:black;
	padding:5px 0;
	border-radius: 5px;
}
.tourhostpage_update_btn{
	background-color: #f0f0f0;
	padding :5px;
	border-radius: 5px;
	cursor: pointer;
}
.tourhostpage_imgbox{
	max-width:150px;
	margin-left: 10px;
}
.tourhostpage_selstate{
	margin:10px 0;
	border:1px solid #e2e8f0;
	color:black;
	padding:5px 0;
	border-radius: 5px;
}
.relistbox>p{
	line-height: 10px;
    border-bottom: 1px solid #e8e8e8;
    margin: 10px 0;
    height: 20px;
}
.rerelist {
	padding-left: 20px;
}
.rerelist:before{
	content: '\21B3';
	padding-right: 10px;
    color: #888;
}