<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.mapper.BoardAttachMapper">
	
	<insert id="insert">
		insert into GoodsImageTable(uuid, uploadpath, filename, filetype, pno)
		values (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{pno})
	</insert>
	
	<delete id="delete">
		delete from into GoodsImageTable where uuid = #{uuid}
	</delete>
	
	<select id="findByPno" resultType="com.bitcamp.dto.BoardAttachVO">
		select *
		from GoodsImageTable
		where pno = #{pno}
	</select>
	
</mapper>