<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.bitcamp.mapper.CafeMapper">
    	<!-- <select id="nutritionlistData" resultType="com.bitcamp.dto.CafeNutrtionDTO">
    		SELECT * FROM CafenutritionTable limit 5;
    	</select> -->
    	<parameterMap type="java.util.HashMap" id="hashMap"/>
    	<select id="nutritionlistData" parameterMap="hashMap" resultType="com.bitcamp.dto.CafeNutrtionDTO">
	   		select MEAL_NO, MEAL_NAME, MEAL_AMOUNT, MEAL_UNIT, MEAL_KCAL, MEAL_PROTEIN, MEAL_FAT, MEAL_CARB, MEAL_SODIUM
		  	from CafenutritionTable 
	    	<where>
	    		<if test="searchtxt!=null and searchtxt!=''">
	    			<choose>
	    				<when test="search=='MEAL_NAME'">
	    					and MEAL_NAME like CONCAT('%',#{searchtxt},'%')
	    				</when>
	    				<when test="search=='MEAL_KCAL'">
	    					and MEAL_KCAL=#{searchtxt}
	    				</when>
	    			</choose>
	    		</if>
	    	</where>
	    	limit #{startRow},#{pageSize}
    	</select>
    	<select id="getCount" resultType="int" parameterMap="hashMap">
			select count(*)
			from CafenutritionTable
			<where>
				<if test="searchtxt!=null and searchtxt!='' ">
					<choose>
						<when test="search=='MEAL_NAME'">
							and MEAL_NAME like CONCAT('%',#{searchtxt},'%')
						</when>
						<when test="search=='MEAL_KCAL'">
	    					and MEAL_KCAL=#{searchtxt}
	    				</when>
					</choose>
				</if>
			</where>
		</select>
		<insert id="insertData" parameterType="com.bitcamp.dto.CafeDTO">			
			insert into CafeTable (cafeproduct, cafecategory, menu, menueng, allergy, menuexplain) 
			values(#{cafeproduct}, #{cafecategory}, #{menu}, #{menueng}, #{allergy}, #{menuexplain})
			<selectKey resultType="int" keyProperty="cafeno" order="AFTER">
				select LAST_INSERT_ID()
			</selectKey>
		</insert>
		<insert id="fileinsertData" parameterType="com.bitcamp.dto.CafeFileDTO">
			insert into CafeFileTable (cafeno, cafeFileurl, fileoriginalname, filesystemname) 
			values(#{cafeno}, #{cafeFileurl}, #{fileoriginalname}, #{filesystemname})
		</insert>
		<select id="adminlistData" resultType="com.bitcamp.dto.CafeDTO">
			select cafe.cafeno, cafeproduct, cafecategory, menu, menueng, allergy, menuexplain, fileoriginalname, filesystemname
			from CafeTable as cafe join CafeFileTable as cafefile
			on cafe.cafeno = cafefile.cafeno
			<where>
	    		<if test="searchtxt!=null and searchtxt!=''">
	    			<choose>
						<when test="search=='menu'">
							and menu like CONCAT('%',#{searchtxt},'%')
						</when>
						<when test="search=='cafeproduct'">
	    					and cafeproduct like CONCAT('%',#{searchtxt},'%')
	    				</when>
	    				<when test="search=='cafecategory'">
	    					and cafecategory like CONCAT('%',#{searchtxt},'%')
	    				</when>
					</choose>
	    		</if>
	    	</where>
	    	limit #{startRow},#{pageSize}
			<!-- order by cafe.cafeno asc -->
		</select>
		<select id="modifyData" parameterType="int" resultType="com.bitcamp.dto.CafeDTO">
			select cafe.cafeno, cafeproduct, cafecategory, menu, menueng, allergy, menuexplain, fileoriginalname, filesystemname
			from CafeTable as cafe join CafeFileTable as cafefile
			on cafe.cafeno = cafefile.cafeno
			where cafe.cafeno=#{cafeno}
		</select>
		<select id="admingetCount" resultType="int" parameterMap="hashMap">
			select count(*)
			from CafeTable
			<where>
				<if test="searchtxt!=null and searchtxt!='' ">
					<choose>
						<when test="search=='menu'">
							and menu like CONCAT('%',#{searchtxt},'%')
						</when>
						<when test="search=='cafeproduct'">
	    					and cafeproduct like CONCAT('%',#{searchtxt},'%')
	    				</when>
	    				<when test="search=='cafecategory'">
	    					and cafecategory like CONCAT('%',#{searchtxt},'%')
	    				</when>
					</choose>
				</if>
			</where>
		</select>
		<update id="modifyResultData" parameterType="com.bitcamp.dto.CafeDTO">
			update CafeTable cafe join CafeFileTable cafefile
			on cafe.cafeno = cafefile.cafeno
			set cafeproduct=#{cafeproduct}, cafecategory=#{cafecategory}, menu=#{menu}, menueng=#{menueng}, allergy=#{allergy}, menuexplain=#{menuexplain}
			where cafe.cafeno=#{cafeno}
		</update>
		<delete id="deleteData" parameterType="int">
			delete from CafeTable
			where cafeno=#{cafeno}
		</delete>
		<delete id="filedeleteData" parameterType="int">
			delete from CafeFileTable
			where cafeno=#{cafeno}
		</delete>
		<select id="fileselectDate" parameterType="int" resultType="com.bitcamp.dto.CafeFileDTO">
			select cafeFileno, cafeno, cafeFileurl, fileoriginalname, filesystemname
			from CafeFileTable
			where cafeno=#{cafeno}
		</select>
		<select id="selectcafeData" resultType="com.bitcamp.dto.CafeDTO">
			select cafe.cafeno, cafeproduct, cafecategory, menu, menueng, allergy, menuexplain, fileoriginalname, filesystemname
			from CafeTable as cafe join CafeFileTable as cafefile
			on cafe.cafeno = cafefile.cafeno
		</select>
		<select id="cafedetailData" resultType="com.bitcamp.dto.CafeDTO">
			select cafe.cafeno, cafeproduct, cafecategory, menu, menueng, allergy, menuexplain, cafeFileurl, fileoriginalname, filesystemname
			from CafeTable as cafe join CafeFileTable as cafefile
			on cafe.cafeno = cafefile.cafeno
			where cafe.cafeno=#{cafeno}
		</select>
		<select id="detailnutriData" resultType="com.bitcamp.dto.CafeNutrtionDTO">
			select *
			from CafenutritionTable
			where cafeno=#{cafeno}
		</select>
    </mapper>