<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.bitcamp.mapper.CartMapper">
  
  <resultMap type="com.bitcamp.dto.CartDTO" id="cartmap">
  	<result property="cno" column="cno"/>
  	<result property="usercode" column="userid"/>
  	<result property="p_no" column="pno"/>
  	<result property="p_amount" column="camount"/>
  </resultMap>
  
  <resultMap type="com.bitcamp.dto.GoodsDTO" id="cartlist">
  	<result property="p_no" column="pno"/>
  	<result property="p_name" column="pname"/>
  	<result property="p_size" column="psize"/>
  	<result property="p_price" column="price"/>
  	<result property="p_amount" column="camount"/>
  </resultMap>
  
  
  <insert id="insert" parameterType="com.bitcamp.dto.CartDTO">
  	insert into CartTable(cno, userid, pno, camount)
  	values (null, #{usercode}, #{p_no}, #{p_amount})
  </insert>
  
  <select id="list" parameterType="String" resultMap="cartlist">
  	select GoodsTable.pno, GoodsTable.pname, GoodsTable.psize, GoodsTable.price, CartTable.camount, CartTable.cno
  	from GoodsTable join CartTable
  	on GoodsTable.pno = CartTable.pno
  	where userid = #{usercode}
  </select>

	<select id="cnolist" parameterType="String" resultMap="cartmap">
		select cno
		from CartTable
		where userid = #{usercode}
	</select>

  
  </mapper>