<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.bitcamp.mapper.TourMapper">
  
  	<parameterMap type="java.util.HashMap" id="hashmap"></parameterMap>
  
 	<select id="getTotalRow" resultType="int">
 		select count(*)
 		from TourTable
 	</select>
 
 	<select id="tourList" parameterType="hashmap" resultType="com.bitcamp.dto.TourDTO">
 		select tourno, tourtitle, populartour, tourdate, startspot,endspot
 				,tourstyle,tourtype,totalcount, tourstate, tourday, tourtime, cancount, userid
 		from TourTable inner join HostTable
        on TourTable.hostno = HostTable.hostno
 		order by tourstate, tourno desc
 		limit #{startRow}, #{pageSize}
 	</select>
 	
 	<!-- tour입력 -->
  	<insert id="insertTour" parameterType="com.bitcamp.dto.TourDTO">
  		insert into TourTable(hostno, tourtitle,populartour,tourdate,startspot,endspot
						,esttime,distance,tourstyle,tourtype,totalcount
						,tourdetailcomm,tourlat,tourlng,tourday,tourtime,tourmaplevel)
		values(#{hostno}, #{tourtitle},#{populartour},#{tourdate},#{startspot},#{endspot}
				,#{esttime},#{distance},#{tourstyle},#{tourtype},#{totalcount}
				,#{tourdetailcomm},#{tourlat},#{tourlng},#{tourday},#{tourtime},#{tourmaplevel})
  		<selectKey keyProperty="tourno" resultType="int" order="AFTER">
  			select LAST_INSERT_ID()
  		</selectKey>
  	</insert>
  	<insert id="insertFavTour" parameterType="com.bitcamp.dto.TourDTO">
  		insert into TourFavTable(tourlat, tourlng)
  		values(#{tourlat}, #{tourlng})
  	</insert>
  	<!-- spot 추가 -->
  	<insert id="insertMarker" parameterType="com.bitcamp.dto.TourMarkerDTO">
  		insert into SpotTable(tourno, spottitle, spotcontent, spotlat, spotlng)
		values(#{tourno}, #{spottitle}, #{spotcontent}, #{spotlat}, #{spotlng});
  	</insert>
  	<!-- lead count 증가 -->
  	<update id="increaLeadCount" parameterType="int">
  		update HostTable
  		set leadcount = leadcount+1
  		where hostno = #{hostno}
  	</update>
  	
  	
  	<!--  TourDetail, MarkerList, HostDetail-->
  	<select id="tourDetail" parameterType="int" resultType="com.bitcamp.dto.TourDTO">
  		select tourno, hostno, tourtitle, populartour, tourdate,startspot,endspot
				,esttime,distance,tourstyle,tourtype,totalcount,cancount
				,tourdetailcomm,tourlat,tourlng,tourday,tourtime,tourstate,tourmaplevel
  		from TourTable
  		where tourno = #{tourno}
  	</select>
  	<select id="tourFavDetail" parameterType="int" resultType="com.bitcamp.dto.TourDTO">
  		select tourno, tourlat, tourlng
  		from TourFavTable
  		where tourno = #{tourno}
  	</select>
  	<select id="markerList" parameterType="int" resultType="com.bitcamp.dto.TourMarkerDTO">
  		select tourno, spottitle, spotcontent, spotlat, spotlng
  		from SpotTable
  		where tourno = #{tourno}
  	</select>
  	<select id="hostDetail" parameterType="int" resultType="com.bitcamp.dto.HostDTO">
  		select hostno, leadcount, hostcomment, HostTable.userid, username, distance, userimg
  		from HostTable inner join UserTable 
        on HostTable.userid = UserTable.userid
  		where HostTable.hostno = #{hostno}
  	</select>
  	<select id="hostDetailById" parameterType="String" resultType="com.bitcamp.dto.HostDTO">
  		select hostno, leadcount, hostcomment, HostTable.userid, username, distance, userimg
  		from HostTable inner join UserTable 
        on HostTable.userid = UserTable.userid
  		where HostTable.userid = #{userid}
  	</select>
  	
  	<!--  투어 지원  -->
  	<select id="tourApplySelect" parameterType="hashmap" resultType="com.bitcamp.dto.TourApplyDTO">
  		select tourno, userid, applydate
  		from ApplyTourTable
  		where tourno = #{tourno} and userid = #{userid}
  	</select>
  	<insert id="insertApplyTour" parameterType="hashmap">
  		insert into ApplyTourTable(tourno, userid)
  		values( #{tourno}, #{userid} )
  	</insert>
  	<update id="increApplyCount" parameterType="int">
  		update TourTable
  		set cancount = cancount+1
 		where tourno = #{tourno}
   	</update>
   	<update id="increUserDistance" parameterType="hashmap">
   		update UserTable
   		set distance = distance+#{distance}
   		where userid = #{userid}
   	</update>
   	<select id="tourApplyList" parameterType="int" resultType="com.bitcamp.dto.TourApplyDTO">
   		select username
		from UserTable inner join ApplyTourTable
		on UserTable.userid = ApplyTourTable.userid
		where tourno = #{tourno};
   	</select>
  	
  	
  	<!-- 투어 수정 -->
  	<update id="updateTour" parameterType="com.bitcamp.dto.TourDTO">
  		update TourTable
  		set
  			tourtitle = #{tourtitle}
  			,populartour = #{populartour}
  			,tourdate = #{tourdate}
  			,startspot = #{startspot}
  			,endspot = #{endspot}
  			,esttime = #{esttime}
  			,distance = #{distance}
  			,tourstyle = #{tourstyle}
  			,tourtype = #{tourtype}
  			,totalcount = #{totalcount}
			,tourdetailcomm = #{tourdetailcomm}
			,tourlat = #{tourlat}
			,tourlng = #{tourlng}
			,tourday = #{tourday}
			,tourtime = #{tourtime}
  		where tourno = #{tourno}
  	</update>
  	<delete id="deleteMarker" parameterType="int">
  		delete from SpotTable
  		where tourno = #{tourno}
  	</delete>
  	
  	<!-- 투어 삭제 -->
  	<delete id="deleteTour" parameterType="int">
  		delete from TourTable
  		where tourno = #{tourno}
  	</delete>
  	<update id="decreaLeadCount" parameterType="int">
  		update HostTable
  		set leadcount = leadcount-1
  		where hostno = #{hostno}
  	</update>
  	
  	<!-- 투어 리플 리스트 -->
  	<select id="replyList" parameterType="int" resultType="com.bitcamp.dto.TourReplyDTO">
  		select tourreno, tourno, userid, recontent ,reorder, relevel
  		from TourReplyTable
  		where tourno = #{tourno} 
  		order by reorder
  	</select>
  	
  	<!-- 투어 리플 insert -->
  	<insert id="replyInsert" parameterType="com.bitcamp.dto.TourReplyDTO">
  		<selectKey keyProperty="reorder" order="BEFORE" resultType="int">
  			select max(reorder)+1 as reorder
  			from TourReplyTable
  			where tourno = #{tourno}
  		</selectKey>
  		insert into TourReplyTable(tourno, reorder, userid, recontent, relevel)
  		values(#{tourno}, #{reorder}, #{userid}, #{recontent}, #{relevel})
  	</insert>
  	<insert id="rereplyInsert" parameterType="com.bitcamp.dto.TourReplyDTO">
  		<selectKey keyProperty="relevel" order="BEFORE" resultType="int">
  			select max(relevel)+1 as relevel
			from TourReplyTable
			where tourno = #{tourno} and reorder = #{reorder};
  		</selectKey>
  		insert into TourReplyTable(tourno, reorder, userid, recontent, relevel)
  		values(#{tourno}, #{reorder}, #{userid}, #{recontent}, #{relevel})
  	</insert>
  	<delete id="deleteTourRe" parameterType="int">
  		delete from TourReplyTable
  		where tourreno = #{tourreno}
  	</delete>
  	<update id="updateTourRe" parameterType="hashmap">
  		update TourReplyTable
  		set recontent = #{recontent}
  		where tourreno = #{tourreno}
  	</update>
  	
  	<!-- tour 상태 변경 -->
  	<update id="updateState" parameterType="hashmap">
  		update TourTable
  		set tourstate = #{tourstate}
  		where tourno = #{tourno}
  	</update>
  	
  	<select id="tourUserList" parameterType="String" resultType="com.bitcamp.dto.TourDTO">
  		select TourTable.tourno, tourtitle, populartour, tourdate, startspot,endspot
 				,tourstate, tourday, tourtime, userid, distance
  		from TourTable inner join ApplyTourTable
  		on TourTable.tourno = ApplyTourTable.tourno
  		where userid = #{userid}
  	</select>
  	
  	
  	<!-- tour 지원 취소 -->
  	<update id="decreaCancount" parameterType="int">
  		update TourTable
  		set cancount = cancount-1
  		where tourno = #{tourno}
  	</update>
  	<update id="cancelApplyTour" parameterType="hashmap">
  		delete from ApplyTourTable
  		where userid=#{userid} and tourno = #{tourno}
  	</update>
  	
  	<!-- HostPage에서 List 출력 -->
  	<select id="tourHostList" parameterType="int" resultType="com.bitcamp.dto.TourDTO">
  		select tourno, tourtitle, populartour, tourdate, startspot, endspot
 				,tourstate, tourday, tourtime, cancount, totalcount
  		from TourTable
  		where hostno = #{hostno}
  		order by tourstate, tourno desc
  	</select>
  	
  </mapper>